Repository mmorys/hatch-cextensions: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, typing, check-toml, check-yaml

.pre-commit-config.yaml:

files: "src\/hatch_cextensions\/.*|tests\/.*"
repos:
  - repo: local
    hooks:
      - id: flake8
        name: Flake8 linting
        entry: hatch run lint:flake8
        language: system
        types: [python]
        require_serial: true

      - id: typing
        name: Mypy type checking
        entry: hatch run lint:typing
        language: system
        types: [python]
        require_serial: true
        stages: [push,manual]

      - id: check-added-large-files
        name: Check for added large files
        entry: hatch run lint:check-added-large-files
        language: system

      - id: check-toml
        name: Check Toml
        entry: hatch run lint:check-toml
        language: system
        types: [toml]

      - id: check-yaml
        name: Check Yaml
        entry: hatch run lint:check-yaml
        language: system
        types: [yaml]

      - id: end-of-file-fixer
        name: Fix End of Files
        entry: hatch run lint:end-of-file-fixer
        language: system
        types: [text]

      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: hatch run lint:trailing-whitespace-fixer
        language: system
        types: [text]

feat: :poop: add boilerplate code for build hook
  pyproject.toml
  src/hatch_cextensions/hooks.py
  src/hatch_cextensions/plugin.py
Due: flake8, typing

chore: :see_no_evil: add pyenv and sourcery configs to .gitignore
  .gitignore
Due: none

feat: :poop: add code skeleton wit hsome contents for plugin.py
  src/hatch_cextensions/plugin.py
Due: flake8, typing

test: :poop: add pytest utils and fixtures for testing
  pyproject.toml
  tests/conftest.py
  tests/examples/00-HelloWorld/Makefile
  tests/examples/00-HelloWorld/bind.c
  tests/examples/00-HelloWorld/libmypy.c
  tests/examples/00-HelloWorld/libmypy.h
  tests/examples/00-HelloWorld/pyproject.toml
  tests/examples/00-HelloWorld/test.py
  tests/examples/01-HeyMan/Makefile
  tests/examples/01-HeyMan/bind.c
  tests/examples/01-HeyMan/libmypy.c
  tests/examples/01-HeyMan/libmypy.h
  tests/examples/01-HeyMan/setup.py
  tests/examples/01-HeyMan/test.py
  tests/test_plugin.py
  tests/utils.py
Due: flake8, typing, check-toml

test: :white_check_mark: pass tests creating temporary project fixtures
  .flake8
  src/hatch_cextensions/plugin.py
  tests/conftest.py
  tests/examples/00-HelloWorld/test.py
  tests/examples/01-HeyMan/pyproject.toml
  tests/examples/01-HeyMan/setup.py
  tests/examples/01-HeyMan/test.py
  tests/test_plugin.py
  tests/utils.py
Due: flake8, typing, check-toml

test: :adhesive_bandage: replace tmp_path with tmp_path_factory for pytest fixture
  tests/conftest.py
Due: flake8, typing

refactor: :recycle: use pathlib function instead of iterator
  tests/test_plugin.py
Due: flake8, typing

chore: :construction: add utils functions for testing
  tests/utils.py
Due: flake8, typing
